body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: slategray;
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0px auto;
}

nav {
    position: absolute; /*em relação à caixa (relativa)*/
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkslategray;
    color: lightcyan;
    text-decoration: underline;
    transition: 0.8s;
}

.produtos {
    width: 940px;
    margin: 0px auto;
    padding: 50px 0px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 15px;
    width: 30%;
    vertical-align: top;
    margin: 0px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Impede que quebrem linha.*/
    border: 2px solid black;
    border-radius: 20px;
}

.produtos li:hover {
    border-color: darkslategray;
}

.produtos li:active {/* "ao clicar */
    border-color: darkgreen;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.descricao {
    font-size: 18px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("./imagens/bg.jpg"); /*Imagem de fundo!*/
    padding: 40px 0px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    margin: 20px;
}

form {
    margin: 40px 40px;
}

form label, form legend {
    display: block; /*Padrão inline*/
    font-size: 20px;
    margin: 0px 0px 30px 0px;
}

.input-padrao {
    display: block;
    /*Padrão do label e text-area é inline-block*/
    margin: 0px 5px 20px;
    padding: 10px 25px;
    width: 50%;
}

/*Lembrando que: inline (style="" html) > id > classe > tag*/
.checkbox {
    margin: 25px 0px;
}

.enviar {
    width: 40%;
    padding: 15px 0px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    /*transition faz 1s na volta tb, quando não tá no hover. O prof tb especificou pra background ou all depois do 1s, mas, sem nada, já fica all e o VSCode acusou background como obsoleta (vermelha)*/
    cursor: pointer; /* "Mãozinha" */
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /* rotate(360deg) */
    /*aumenta em 20% proporcionalmente (só um ou o último transform vale. Só que no mesmo transform ambos funcionarão! (tenta usar rotate(360deg) por exemplo)*/
}

table {
    margin: 20px 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 10px 20px;
}

/* CSS da Página Inicial (index.html da parte4): */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0px 0px 1em;
    /*1em = 1 espaço pra baixo, do tamanho da fonte*/
    clear: left; /* Limpa o float para a h3 Beneficios*/
    text-shadow: 2px -2px rgba(47, 79, 79, 0.4);
    /*box shadow para textos, com camada alfa (rgbA) que é opacidade tb! (ver em imagem-beneficios mais pra baixo)*/
}

.principal {
    padding: 3em 0px;
    width: 940px;
    margin: 0 auto;
    background: #FEFEFE;
}

.principal p {
    margin: 0px 0px 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0px 20px 20px 0px;
}

.mapa {
    padding: 3em 0px;
    background: linear-gradient(to bottom, #FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0px 0px 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0px;
    background: #888888;
    box-shadow: inset 0px 0px 30px darkslategray;
    /*SOMBRA INTERNA com espalhamento 30px*/
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before { /*pseudo-elemento*/
    content: "★ ";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1; /*luz chega 100% no elemento*/
    transition: 500ms; /*milisegundos (0.5s)*/
    box-shadow: 10px 10px 15px black,
    -8px -8px 10px darkslategray;
    /*shadow: direita, baixo,
    "blur"/espalhamento e cor, outra se quiser...*/
}

.imagem-beneficios:hover {
    opacity: 0.5; /*luz chega 50% no elemento*/
}

.video {
    width: 560px;
    margin: 2em auto;
}

/*Aqui mais width 100% do iframe do html tornam o site RESPONSIVO para telefones (máximo 480px): */
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
        margin-bottom: 20px;
    }
}